.mat-elevation-z8 {
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #e0f1ff !important; /* Light background */
  }

  table.mat-table {
    width: 100%;
    border-collapse: collapse;
  }
.mat-mdc-header-row {
    background-color: rgb(228, 222, 212)!important; 
}

.mat-mdc-header-cell {
    color: rgb(16, 15, 15) !important; /* White text */
    font-weight: bold;
    text-align: left;
    padding: 12px;
    font-size: 16px;
}

.mat-mdc-table thead {
    background-color: #4CAF50 !important;
}


.mat-mdc-row:hover {
    background-color: #e8f5e9 !important; 
    cursor: pointer;
}

